/***************
VARIABLES
***************/

header {
    background-color:var(--main-color);
}

.nav-item .nav-link {
    color: white;
}

main section:nth-child(odd),
#contact .btn {
    background-color: var(--secondary-color);
}